<%- include("partials/header", { title: title }) %>

    <h2>Service Project Categories</h2>

    <ul>
        <li>Environmental</li>
        <li>Educational</li>
        <li>Community Service</li>
        <li>Health and Wellness</li>
    </ul>

    <%- include("partials/footer") %>