<%- include("partials/header", { title: title }) %>

    <h2>Organizations</h2>

    <p>List of community organizations.</p>

    <img src="/images/image1.png" alt="Community Organization" width="400">

    <%- include("partials/footer") %>