<%- include("partials/header", { title: title }) %>

    <h2>Service Projects</h2>

    <ul>
        <li>Neighborhood Cleanup</li>
        <li>Food Drive</li>
        <li>Tree Planting</li>
    </ul>

    <%- include("partials/footer") %>